<!--
  Generated template for the ProductDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>{{ 'PRODUCT_DETAIL_TITLE' | translate }}</ion-title>
    <button ion-button small ion-start (click)="shareImages()"><ion-icon name="share"></ion-icon>{{'SHARE_BUTTON'|translate}}</button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-slides pager autoplay style="height:65%;">
    <ion-list *ngFor="let imgSrc of currentProduct.imageSrcs">
        <ion-slide>
          <img [src]="imgSrc"/>
        </ion-slide>
    </ion-list>
    <ion-slide *ngIf="currentProduct.hasVideo">
    <video autoplay="false" controls loop>
      <source type="video/mp4" src="{{currentProduct.videoSrc}}"/>
    </video>
    </ion-slide>
  </ion-slides>
  <div style="height:16px;width:100%;">商品信息</div>
  <div>
    【{{currentProduct.code}}】{{currentProduct.name}} {{currentProduct.description}}
    <p>
      {{'EX_FACTORY_PRICE'|translate}} : {{currentProduct.exFactoryPrice}}
    </p>
    <p>
      {{'FAVORABLE_PRICE'|translate}} : {{currentProduct.favorablePrice}}
    </p>
    <p>
      {{'PRIMARY_PRICE'|translate}} : {{currentProduct.primaryPrice}}
    </p>
  </div>
  <div style="height:16px;width:100%;">购买方式</div>
  <div>
    <p>
      {{'PHONE_NUMBER' | translate }}: {{currentProduct.phoneNumber}}
    </p>
    <p>
      {{'WECHAT_NUMBER' | translate}}:{{currentProduct.wechatNumber}}
    </p>
  </div>
  <div style="height:16px;width:100%;">图片</div>
  <div>
    <ion-card class="card" *ngFor="let imgSrc of currentProduct.imageSrcs">
      <img [src]="imgSrc" style="width:auto;height:auto;"/>
    </ion-card>
    <ion-card *ngIf="currentProduct.hasVideo">
    <video autoplay="false" controls loop>
      <source type="video/mp4" src="{{currentProduct.videoSrc}}"/>
    </video>
    </ion-card>
  </div>
</ion-content>
