page-list-product {
    /*
    .card {
        position: relative;
        text-align: center;
        height: 300px;
    }

    .card-header {
        height: 35px;
    }

    .card-content {
        height: 260px;
    }

    .card-image {
        height: 260px;
    }*/
}
