<!--
  Generated template for the ListProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <form>
      <ion-searchbar [(ngModel)]="condition" [ngModelOptions]="{standalone: true}" (ionCancel)="search($event)"> placeholder="{{'SERACH_BABY' | translate }}"></ion-searchbar>
      <button style="visibility:hidden;width:0%;height:0%;" ion-button (click)="search($event)"></button>
    </form>
    <ion-buttons end>
      <button ion-button small round>{{ 'CATEGORY_TITLE' | translate }}</button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar>
    <ion-toolbar>
      <ion-segment color="primary" [(ngModel)]="subCondition">
        <ion-segment-button value="newProduct" (ionSelect)="selectNewProduct()">{{'NEW_PRODUCT' | translate}}</ion-segment-button>
        <ion-segment-button value="handOn" (ionSelect)="selectHandOn()">{{'HAND_ON' | translate}}</ion-segment-button>
        <ion-segment-button value="waterDrop" (ionSelect)="selectWaterDrop()">{{'WATER_DROP' | translate}}</ion-segment-button>
        <ion-segment-button value="nothingCards" (ionSelect)="selectNothingCards()">{{'NOTHING_CARDS' | translate}}</ion-segment-button>
        <ion-segment-button value="products108" (ionSelect)="select108Product()">{{'108PRODUCTS' | translate}}</ion-segment-button>
        <ion-segment-button value="engraving" (ionSelect)="selectEngraving()">{{'ENGRAVING' | translate}}</ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <ion-toolbar>
      <ion-segment color="primary" [(ngModel)]="subOrderBy">
        <ion-segment-button value="default" (ionSelect)="selectDefault()">{{'ORDERBY_DEFAULT' | translate}}</ion-segment-button>
        <ion-segment-button value="price" (ionSelect)="selectPrice()">{{'ORDERBY_PRICE' | translate}}</ion-segment-button>
        <ion-segment-button value="popularity" (ionSelect)="selectPopularity()">{{'ORDERBY_POPULARITY' | translate}}</ion-segment-button>
        <ion-segment-button value="priceRange" (ionSelect)="selectPriceRange()">{{'PRICE_RANGE' | translate}}</ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="正在刷新数据...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
      <ion-row align-items-start justify-content-center *ngFor="let cp of currentProducts">
        <ion-col left align-self-right no-padding>
            <ion-card class="card" text-right *ngIf="cp.hasLeft" (click)="openDetail(cp.left)" detail-none>
            <img [src]="cp.left.imageSrc" style="width:auto;height:auto;"/>
              <ion-card-content class="card-content" style="width:auto;height:auto;">
                <ion-row>
                  <ion-col text-left>
                    <h2>{{cp.left.exFactoryPrice}}</h2>
                  </ion-col>
                </ion-row>          
              </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col right align-self-left no-padding>
            <ion-card text-left *ngIf="cp.hasRight" (click)="openDetail(cp.right)" detail-none>
              <img [src]="cp.right.imageSrc" style="width:auto;height:auto;"/>
              <ion-card-content class="card-content" style="width:auto;height:auto;">
                <ion-row>
                  <ion-col text-left>
                    <h2>{{cp.right.exFactoryPrice}}</h2>
                  </ion-col>
                </ion-row>    
              </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles"
                                     loadingText="加载更多数据...">
        </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
