<ion-header>
  <ion-navbar>
    <!--
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>
    -->
    <ion-searchbar (ionInput)="searchItems($event)"></ion-searchbar>
    <ion-buttons start>
      <button ion-button small round>分类</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar>
  </ion-toolbar>
  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <!--
      <div class="row">
        <div class="col">
          <button ion-item (click)="openItem(item)">
            <img [src]="item.imageName" />
          </button>
        </div>
        <div class="col">
          <button ion-item (click)="openItem(item)">
            <img [src]="item.imageName" />
          </button>
        </div>
      </div>
      -->
      <button ion-item (click)="openItem(item)">
        <ion-card>
          <ion-card-header>
            <h2>{{item.code}} : {{item.name}}</h2>
          </ion-card-header>
          <ion-card-content>
            <img [src]="item.imageName" />
          </ion-card-content>
        </ion-card>
        <!--
        <ion-note item-end *ngIf="item.description">{{item.description}}</ion-note>
        -->
      </button>
      <!--
      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
      -->
    </ion-item-sliding>
  </ion-list>
</ion-content>
